.navfont {
  font-family: Garamond, serif;
}

.imahe {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjd8fGJsb2d8ZW58MHx8MHx8&w=1000&q=80');
  height: 91vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.tnr {
  font-family: Times New Roman, serf;
}

.sy {
  overflow-y: scroll;
}

.sayz {
  height: 50px;
}

.me-6 {
  margin-right: 242px;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}